<html>
   <head>
    <style>
        .border {
         border-style:solid;
         border-color:#287EC7;
        }

        #wrapper {
            white-space: nowrap;
            overflow-x:hidden;
        }

        .process-style {
         border-style:solid;
         border-color:#11a725;
         width:70px;
         padding:5px;
         text-align:center;
         margin: 5px;
         float:left; /* Not supported by JEditorPane */
        }
    </style>
    <title>Thread Logger Viewer</title>
   </head>
   
   <body>
    <p class="border">
        Hello.<br>Another line.
    </p>
    <section id="wrapper">
        toBeChanged
    </section>
    <div>
        <object data="processes.txt"></object>
    </div>
   </body>
</html>